<br />

  <div class="center" style="margin-top: 1%;">
    <input
    style="width: 25%"
    [(ngModel)]="task_name"
    (keydown)="onKeyPress($event)"
    autofocus
    class="form-control form-control-lg name task"
    type="text"
    placeholder="Enter your Task here & Press Enter"
    aria-label=".form-control-lg example"
    />
  </div>


<div class="container text-center" style="margin-top: 5%">

  <div class="row">
    <div class="col" *ngFor="let task of tservice.tasks">
      <div class="card" style="width: 18rem; margin-bottom: 2%;" (dblclick)="deleteTask(task)" (click)="changeTaskStatus(task)">
        <div class="card-body">
           <h5 class="card-title" [ngClass]="{'completed': task.Task_Completed === true}">{{task.Task_Name}}</h5>
          <footer class="footer">{{task.Task_Created_DateTime | date:'medium'}}</footer>
        </div>
      </div>
    </div>
  </div>
</div>
