<div class="container text-center">
  <br /><br />
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <div class="card" style="width: 60rem">
        <div class="card-body">
          <h5 class="card-title">About</h5>
          <p class="card-text">
            TickTasks is a Web Application developed by
            <b>Sidharth Mahai</b>
            <br /><br />This application is for those people who want to ease
            their day of work by having tasks and toDo's on the board and easily
            managing them.<br /><br />Connect with me on
            1) <a href="https://www.linkedin.com/in/sidharth-mahai-52a805173"
              >Linked In</a
            > &nbsp;2)
            <a href="https://www.facebook.com/sidharth.sharma.52035/"
              >Facebook</a
            > &nbsp;3)
            <a href="https://www.github.com/SidharthMahai/">Github</a>&nbsp;4)
            <a href="mailto: sidharth.mahai.work@gmail.com">Mail</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
