.name {
    margin-top: 2.5%;
    width: 33ch;
    color: black;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
}

.center {
    height: 1vh;
    /*This part is important for centering*/
    display: grid;
    place-items: center;
  }

  .typing-demo {
    width: 30ch;
    animation: typing 2s steps(22);
    white-space: nowrap;
    overflow: hidden;
    font-family: monospace;
    font-size: 2.5em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }